/**
 * @name Absolutely not another anime theme
 * @author Stalker.py#1425 x ğ•®ğ–†ğ–‘ğ–‘ ğ–’ğ–Š ğ•¯ğ–Šğ–›ğ–ğ–‘#3841
 * @version 2.0.0
 * @description We work very hard for this art. Its totally hours and totally not another anime!
 * @source https://github.com/DiscordStyles/FrostedGlass
 * @invite https://discord.gg/Jznb4C8myP
 * @authorId 897912679535116308
*/

@import url('https://discordstyles.github.io/FrostedGlass/dist/FrostedGlass.css');
@import url('https://discordstyles.github.io/Addons/windows-titlebar.css');

:root {
  --background-image: url('https://i.imgur.com/YPmig2C.jpg');
  --background-image-blur: 0px;
  --background-image-size: cover;
  --background-image-position: center;
  --popout-modal-image: var(--background-image);
  --popout-modal-blur: 1px;
  --popout-modal-size: cover;
  --popout-modal-position: center;
  --home-button-image: url('https://cdn.discordapp.com/attachments/899631793395871754/1010153485427286096/unknown.png?size=4096');
  --home-button-size: cover;
  --home-button-position: center;
  --serverlist-brightness: 0.34;
  --left-brightness: 0.38;
  --middle-brightness: 0.3;
  --right-brightness: 0;
  --popout-modal-brightness: 0.6;
  --gradient-primary: 150,149,153;
  --gradient-secondary: 135,136,141;
  --link-colour: #00b0f4;
  --scrollbar-colour: rgba(255,255,255,0.05);
  --gradient-direction: 320deg;
  --tint-colour: 127,116,16;
  --tint-brightness: 0;
  --font: Whitney;
  --window-padding: 11px;
  --window-roundness: 0px;
  --update-notice-1: none;
}

/* Any custom CSS below here */


